@import 'web/components/common.scss';

.container {
  width: 100%;
  height: 100%;
}

.hight-list-enter {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
  position: relative;
  .backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: url('../../assets/img/bg.png') no-repeat;
    background-size: 100% 100%;
    filter: blur(30px);
  }
  .hight-description {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,0.2);
    img {
      width: 140px;
      height: 140px;
      border-radius: 5px;
      background: url('../../assets/img/bg.png') no-repeat;
      background-size: cover;
    }
    div {
      @include center;
      width: calc(100% - 140px);
      flex-flow: column;
      align-items: flex-start;
      padding:0 20px;
      .sign {
        @include center;
        $color:#d0963b;
        width: 100px;
        height: 30px;
        font-size: 13px;
        border-radius: 15px;
        border: border($color);
        color: $color;
        margin-bottom: 15px;
      }
      .title {
        @include hideText;
        width: 100%;
        margin: 5px 0;
        color: #fff;
      }
      .desc {
        @include hideText;
        width: 100%;
        font-size: 12px;
        margin: 10px 0;
        color: rgba(255,255,255, 0.4);
      }
    }
  }
}

.list-content {
  width: 100%;
}

.cat-list {
  width: 100%;
  height: 30px;
  margin: 20px 0;
  overflow: hidden;
  ul {
    float: right;
    display: flex;
    height: 100%;
  }
  li {
    @include center;
    height: 100%;
    padding: 0 15px;
    position: relative;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    &:hover {
      color: #333;
    }
    &::before {
      @include halfPX(#ddd);
      height: 50%;
      position: absolute;
      right: 0;
    }
  }
}

.current-type {
  @include center;
  width: 100px;
  height: 100%;
  border-radius: 15px;
  font-size: 13px;
  float: left;
  border: border(#ddd);
  cursor: pointer;
  i {
    @include img(12, 'right-move');
    margin-left: 5px;
  }
  &:hover {
    background: #f3f3f3;
  }
}