// 通用 mixin 和 函数
@mixin img ($wah, $url, $size:cover) {
  display: inline-block;
  width: $wah + px;
  height: $wah + px;
  background: url('../../assets/' + $url + '.svg') no-repeat;
  background-size: $size;
}

@function border ($color, $size:1) {
  @return $size + px solid $color;
}