@import 'web/components/common.scss';

.container {
  z-index: 10;
  overflow: hidden;
  position: fixed;
  bottom: 68px;
  left: 0;
  canvas {
    margin-left: 140px;
  }
}

.animate {
  transition: bottom ease 1s;
}