@import 'web/components/common.scss';

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  width: 100%;
  position: absolute;
  background: rgba(214, 106, 94, 0.85);
  z-index: 2;
  bottom: 0;
  height: calc(100% - 10px);
  padding: 0 10px 10px 10px;
  display: flex;
}

.blur-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(10px);
}

$size: 50px;
.left {
  width: 35%;
  height: $size;
  padding-right: 8%;
  display: flex;
  align-items: center;
  color: #fff;
  & .song-img {
    width: $size;
    height: 100%;
    border-radius: 5px;
    font-size: $size / 1.5;
    overflow: hidden;
    position: relative;
    & .img-content {
      width: $size;
      height: 100%;
      background: rgba(0,0,0,0.2);
      background-size: cover;
      position: absolute;
      z-index: 0;
    }
    & .zoom {
      display: none;
      width: $size;
      height: 100%;
      line-height: $size;
      text-align: center;
      cursor: pointer;
      position: absolute;
      z-index: 1;
    }
  }
  & .song-img:hover .zoom {
    display: block;
  }
  & .song-img:hover .img-content {
    filter: blur(1px);
  }
  & .desc {
    width: calc(100% - #{$size});
    padding-left: 20px;
  }
  .name {
    @include hideText;
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .auth {
    $color: rgba(255,255,255,0.6);
    width: 100%;
    @include hideText;
    font-size: 11px;
    color: $color;
    line-height: 18px;
    font-weight: bold;
    font-family: 方正兰亭超细黑简体;
    & a {
      color: $color;
    }
  }
}

$iconSize: 14px;
.center {
  display: flex;
  height: $size;
  width: 50%;
  justify-content: center;
  align-items: center;
  & ul {
    display: flex;
    align-items: center;
    color: #fff;
  }
  & li {
    margin: 0 15px;
    cursor: pointer;
  }
  & .icon {
    width: $iconSize;
    height: $iconSize;
  }
  & .time {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
  }
  & .play {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;
  }
  & .big {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.right {
  display: flex;
  height: $size;
  width: 25%;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  & .icon {
    width: $iconSize;
    height: $iconSize;
    margin: 0 15px;
    cursor: pointer;
  }
}

.play-order {
  @include center;
  position: relative;
  & div {
    display: none;
    position: absolute;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    top: -25px;
    left: -25px;
    color: #333;
    font-size: 11px;
  }
}
.play-order:hover div {
  display: block;
}

.share {
  position: relative;
  & .share-box {
    position: absolute;
    height: 70px;
    width: 330px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    top: -85px;
    left: -165px;
    padding: 10px 0;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.5);
    & div {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      color: #333;
      font-size: 15px;
      padding: 0 15px;
      & i {
        @include img(35, 'link');
        margin-right: 10px;
      }
    }
    & div::before {
      @include v-halfPX(#ddd, 0.3);
      position: absolute;
      left: 0;
      top: 0;
      width: 80%;
      margin-left: 10%;
    }
    & div:hover {
      background: #f0f0f2;
    }
    & span {
      $w: 8;
      position: absolute;
      bottom: $w * -2 + px;
      border: border(transparent, $w);
      border-top-color: #fff;
    }
  }
}

.play-list {
  position: fixed;
  height: calc(100% - 70px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.volume {
  position: relative;
  & .volume-box {
    @include center;
    display: none;
    width: 30px;
    height: 110px;
    border-radius: 3px;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
    top: -120px;
    left: -9px;
  }
  & .volume-bar-container {
    width: 4px;
    height: 80px;
    border-radius: 2px;
    background: #e6e6e6;
    position: relative;
    & div {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
    }
    & .bar {
      height: 50%;
      border-radius: 2px;
      background: $theme;
    }
    & i {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: -3px;
      background: $theme;
    }
  }
  & .array {
    position: absolute;
    bottom: -10px;
    left: 10px;
    border: 5px solid transparent;
    border-top-color: #fff;
  }
}

.volume:hover .volume-box {
  display: flex;
}

.song-detail-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

// 切换到歌曲详情页面，要换一堆颜色
.detail {
  $color: #333;
  $bg:rgba(255,255,255,0.4);
  .content {
    background: $bg;
  }
  .img-content {
    background: rgba(0,0,0,0.3);
  }
  .left {
    color: $color;
    .auth {
      color: #848383;
    }
    .zoom {
      color: #fff;
    }
  }
  .center ul, .play {
    color: $color;
  }
  .time {
    color: rgba(0,0,0,0.5);
  }
  .right {
    color: $color;
  }
}