@import 'web/components/common.scss';

.container {
  width: 100%;
  max-height: calc(100% - 70px);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  height: calc(100% - 50px);
  width: 35.5%;
  top: 50px;
  right: 0;
  padding: 20px;
  background: #fff;
  overflow-x: hidden;
  border-top-left-radius: 5px;
  box-shadow: 5px 8px 15px 0 rgba(0, 0, 0, 0.5);
}

.content::-webkit-scrollbar-thumb:vertical {
  background: #000C40;
}

.hot-box {
  height: 100%;
  width: 100%;
}

.title {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}

.tags {
  overflow: hidden;
  & li {
    float: left;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: bold;
    font-family: 方正兰亭超细黑简体;
    text-align: center;
    border: border(#d2d2d2);
    margin: 5px;
    cursor: pointer;
  }
  & li:hover {
    background: #f3f3f3;
  }
}