@import 'web/components/common.scss';

.container {
  background: #fff;
}

.title {
  width: 100%;
  height: 155px;
  margin-top: 50px;
  border-bottom: border(#ddd);
  overflow: hidden;
  position: relative;
}

.daily-update {
  float: left;
  font-size: 83px;
  color: $theme;
  position: relative;
  margin-right: 40px;
  &::before {
    color: $theme !important;
  }
  span {
    position: absolute;
    font-size: 40px;
    font-family: tahoma;
    left: 21px;
    bottom: 11px;
  }
}

.description {
  float: left;
  height: 100px;
  line-height: 25px;
  color: #333;
  margin-top: 20px;
  .title-span {
    font: {
      size: 20px;
      weight: 700;
    }
  }
  .content {
    font-size: 12px;
    color: #9c9c9c;
  }
}

.operational {
  position: absolute;
  left: 0;
  height: 30px;
  bottom: 10px;
  overflow: hidden;
  li {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 13px;
    color: #383838;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #bbb9b1;
  }
  i {
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-right: 5px;
    color: #fff;
  }
  .play {
    width: 140px;
    overflow: hidden;
    padding: 0 !important;
    border: none !important;
    background: linear-gradient(to right, #ea5e4d, #c6483b);
  }
  .play-all {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    color: #fff;
    position: relative;
    padding-left: 10px;
    &:after {
      @include halfPX(#fff, 0.15);
      position: absolute;
      right: 0;
    }
  }
  .add-all {
    @include center;
    width: 30%;
    height: 100%;
  }
  .play-all:hover, .add-all:hover {
    background: #b54136;
  }
}

:global .icon-star {
  color: #333 !important;
}

.list {
  width: 100%;
  height: calc(100% - 205px);
  overflow-x: hidden;
  .loading {
    @include center;
    width: 100%;
    height: 300px;
    i {
      @include img(30, 'loading');
    }
  }
  .no-result {
    @include center;
    width: 100%;
    height: 300px;
    color: #333;
    font: {
      size: 13px;
      weight: 700;
      family: 方正兰亭超细黑简体;
    }
  }
  .list-form {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}